.categoriesContainer {
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  background-color: #f5f6f9;
}

.categoriesContainer h1 {
  display: flex;
  align-self: center;
  justify-content: center;
}
.categoriesList::-webkit-scrollbar {
  width: 0px;
}
.horizon-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.categoriesList {
  display: flex;
  left: 0;
  padding: 5px 5px;
  width: 70vw;
  overflow-x: auto;
  list-style: none;
}
.categoriesList li {
  display: flex;
  cursor: pointer;
  margin: 5px 10px;
  align-self: center;
  padding: 10px 20px;
  font-size: 15px;
  white-space: nowrap;
}

.listItems {
  border: none;
  border-radius: 30px;
}

.active-listItem {
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(130, 130, 235);
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(221, 220, 220, 0.6);
}

.listItems:hover {
  color: rgb(130, 130, 235);
}

.btn-box{
   margin: 5px 10px;
  padding: 15px 25px;
  align-items: center;
}
.btn {
  display: flex;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: transparent;
}
